$display: flex;
$size: 100%;

$color-grey-1: #D9D9D9;
$color-grey-2: #BBBBBB;

$color-bg-1: #999999;
$color-bg-2: #CC3300;
$color-bg-3: #669900;
$color-bg-4: #FFFFCC;


// $button-event: (
//   seattle: (#999999, "..images/night-skyline-seattle.jpg"),
//   london: (#CC3300, "..images/streets-of-london-at-night.jpg"),
//   myLocation: (#669900, "..images/white-river-falls.JPG"),
//   default: (#FFFFCC, "..images/lake-22-trail.JPG")
// );
