$black: #111;
$display: flex;
$size: 100%;

$city-map: (
  seattle: (#666666, #BBBBBB, #999999),
  london: (#666666, #660000, #CC0000),
  current: (#666666, #666633, #999966),
  reset: (#666666, #333333, #999999),
);
