@import "normalize";
@import "variables";

body {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: lighter;
  display: $display;
  background-color: $color-bg-4;
  background-image: url(../images/lake-22-trail.JPG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

#container {
  width: $size;
}

.day {
  background-color:#87CEEB;
  height: $size;
}

.night {
  background-color:#1E2D59;
  height: $size;
}

// @each $button,
.button-container {
  display: $display;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.button {
  font-size: 1em;
  text-align: center;
  width: 12em;
  color: #555;
  background: $color-grey-1;
  padding: .750em;
  border: solid .01em silver;
  cursor: pointer;
  transition: 0.3s;

    &:hover {
      background-color: $color-grey-2;
    }
    &:focus {
      outline: none;
    }
    // &:active {
    //   background-image: $image;
    // }
}

// @each $container in $button-event {
//   .#{container} {
//
//     $image: nth(2);
//     $color: nth(1);
//
//       background-color: $color;
//       background: url($image) no-repeat center fixed;
//       background-size: contain;
//
//       // &:active {
//       //   background-image: $active;
//       // }
//   }
// }

.seattle {
  background-color: $color-bg-1;
  background-image: url(..images/night-skyline-seattle.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

}

.london {
  background-color: $color-bg-2;
  background-image: url(..images/streets-of-london-at-night.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.myLocation {
  background-color: $color-bg-3;
  background-image: url(..images/white-river-falls.JPG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

// .default {
//   background-color: #FFFFCC;
//   background-image: url(..images/lake-22-trail.JPG);
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: contain;
// }

#content {
  max-width: 36em;
  margin: 0 auto;
  overflow: hidden;
}

#city {
  letter-spacing: .05em;
  align-items: center;
  text-align: center;
}

#current-conditions {
  font-size: 1.25em;
  letter-spacing: .05em;
  text-align: center;
  margin-top: 1em;
  border-top: solid .01em white;
  border-bottom: solid .01em white;

  p {
    margin: .5em;
  }
}

#today {
  margin-top: 1em;
  letter-spacing: .05em;
  text-align: center;
}
