@import "normalize";
@import "variables";

body {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: lighter;
  display: $display;
  background-color: $black;
  background-image: url(../images/lake-22-trail.JPG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

#container {
  width: $size;
}

.day {
  background-color:#87CEEB;
  height: $size;
}

.night {
  background-color:#1E2D59;
  height: $size;
}

.button-container {
  display: $display;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.cityBtn {
  font-size: 1em;
  text-align: center;
  width: 12em;
  padding: .750em;
  border: solid .01em silver;
  cursor: pointer;
  transition: 0.3s;

    &:focus {
      outline: none;
    }
}

@each $cities, $colors in $city-map {
  .#{$cities} {

    $default: nth($colors, 1);
    $hover: nth($colors, 2);
    $active: nth($colors, 3);

    background-color: $default;
    color: $active;

    &:hover,
    &focus {
      background-color: $hover;
    }

    &:active {
      background-color: $active;
    }
  }
}

// .seattle {
//   background-color: #666666;
//   color: #999999;
//
//     &:hover,
//     &focus {
//       background-color: #BBBBBB;
//     }
//
//     &:active {
//       background-color: #999999;
//     }
// }
//
// .london {
//   background-color: #666666;
//   color: #CC0000;
//
//     &:hover,
//     &focus {
//       background-color: #660000;
//     }
//
//     &:active {
//       background-color: #CC0000;
//     }
// }
//
// .current {
//   background-color: #666666;
//   color: #999966;
//
//     &:hover,
//     &focus {
//       background-color: #666633;
//     }
//
//     &:active {
//       background-color: #999966;
//     }
// }
//
// .reset {
//   background-color: #666666;
//   color: #999999;
//
//     &:hover,
//     &focus {
//       background-color: #333333;
//     }
//
//     &:active {
//       background-color: #999999;
//     }
// }


#content {
  max-width: 36em;
  margin: 0 auto;
  overflow: hidden;
}

#city {
  letter-spacing: .05em;
  align-items: center;
  text-align: center;
}

#current-conditions {
  font-size: 1.25em;
  letter-spacing: .05em;
  text-align: center;
  margin-top: 1em;
  border-top: solid .01em white;
  border-bottom: solid .01em white;

  p {
    margin: .5em;
  }
}

#high, #low, #winds, #sunrise, #sunset {
  margin-top: 1em;
  letter-spacing: .05em;
  text-align: center;
  line-height: 1em;
  border-bottom: solid .01em;

  &:nth-child(3n+1) {
    border-bottom: none;
  }
}
