@import "normalize";
@import "variables";

body {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: lighter;
  display: flex;
  width: 100vw;
  height: 100vh;
}

#container {
  width: 100%;
}

.day {
  background-color:#87CEEB;
  height: 100%;
}

.night {
  background-color:#1E2D59;
  height: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.button {
  font-size: 1em;
  text-align: center;
  width: 12em;
  color: #555;
  background: #D9D9D9;
  padding: .750em;
  border: solid .01em silver;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: #BBB;
  }
  &:focus {
    outline: none;
  }
}

#content {
  max-width: 36em;
  margin: 0 auto;
}

#city {
  letter-spacing: .05em;
  align-items: center;
  text-align: center;
}

#current-conditions {
  font-size: 1.25em;
  letter-spacing: .05em;
  text-align: center;
  margin-top: 1em;
  border-top: solid .01em white;
  border-bottom: solid .01em white;

  p {
    margin: .5em;
  }
}

#today {
  margin-top: 1em;
  letter-spacing: .05em;
  text-align: center;
}
